<h2>Categorías</h2>
      <ul>
        <li><a class="linkDU" href="/hogar">Hogar</a></li>
        <li><a class="linkDU" href="/nav">Navidad</a></li>
        <li><a class="linkDU" href="/fans">Fans</a></li>        
      </ul>