<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../parcials/head.ejs") %>
</head>
<body>
    <div class="registerEncabezado">
        <h1>LOGIN</h1>
    </div>
    <div class="registerMain">
        <div class="ingresoUser">
            <img src="./images/user.png" height="20px" width="20px" alt=""> <input id="ingresoDatos" type="text" placeholder="Nombre de usuario">
        </div>    
        <div class="ingresoPass">
            <img src="./images/pass.png" height="20px" width="20px" alt=""> <input id="ingresoPass" type="password" placeholder="Contraseña">
        </div>          
        <div class="botonRegistro">
            <button onclick="userIN()">Ingresar</button>
        </div>       
        
    </div> 
    
    
    
    <script src="./js/jsDU.js"></script> 
</body>
</html>